html,
body {
  height: 100%;
  margin: 0;
}

/* Make the carousel section take full height and position it fixed */
.carusel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* Center the text in the description section and make it stand out */
.descripcion p {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Dark background with opacity for readability */
  padding: 20px;
  border-radius: 10px;
}

.batlogo {
  opacity: 0.5; /* Ajusta la opacidad según lo que necesites */
}
