* {
    padding: 0%;
    box-sizing: border-box;
}

.fondotar {
    background-color: #2C3333 !important;
}

.carusel {
    height: 800px;
}

.batlogo {
    width: 3vw;
    height: 3vw;
}

.encabezado {
    font-family: 'Cinzel', serif;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
}